<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Das Lighthouse und seine Geschichte</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1997</h4>
                                    <h4 class="subheading">Eine starke Initiative macht den Anfang</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Das LIGHTHOUSE ist 1997 aus der Initiative einiger Mitarbeiter/innen der Medizinischen Abteilung des Zentralkrankenhauses in Lilongwe entstanden. In ihrer Freizeit organisierten sie als Freiwillige Hausbesuche bei AIDS Kranken.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2002</h4>
                                    <h4 class="subheading">Eröffnung des Lighthouse</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Am 26. Juli 2002 wird das LIGHTHOUSE offiziell vom Vizepräsidenten Justine C. Malewezi eröffnet.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1997-2011</h4>
                                    <h4 class="subheading">Das Lighthouse wächst</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nach und nach wuchs das LIGHTHOUSE – auch mit Unterstützung von außen, aber immer getragen von malawischem Engagement – mit Zentren für die Beratung und Testung von HIV Infizierten und Nicht-Infizierten, mit zwei großen ambulanten Kliniken zur Versorgung und Behandlung von HIV Infizierten, einschließlich Tuberkulose.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>heute</h4>
                                    <h4 class="subheading">Betrieb auf Hochtouren</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Mehr als 15.000 Patienten pro Jahr sind in einer der beiden Kliniken unter antiretroviraler Behandlung.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Werden Sie
                                    <br> Teil dieser
                                    <br> Geschichte!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
