    <!-- Portfolio Grid Section -->
        <section id="portfolio" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                      <img src="img/logos/sonne.png" class="img-responsive img-sonne" alt="">
                        <h2 class="section-heading">Das Lighthouse</h2>


                        <h3 class="section-subheading text-muted">Malawi gehört zu den wirtschaftlich ärmsten Ländern der Welt und ist gleichzeitig ein Land mit einer hohen Zahl an HIV infizierten Menschen.<br><br>
                           Jährlich gibt es ca. 70.00 Todesfälle. Noch sehr viele mehr sind durch die Erkrankung indirekt betroffen. <br><br>

                          Das Lighthouse ist eine Initiative, die Menschen mit HIV Infektion unterstützt und dazu beiträgt, dass ein wirtschaftlich so armes Land wie Malawi einer solchen HIV Epidemie widerstehen kann.</h3>
                          <div class="img-responsive">
                          <iframe src="//player.vimeo.com/video/98640247" width="900" height="506" frameborder="50" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p></p>
                          <p>&nbsp;</p>
                        </div>
                        <h4 class="section-heading">Brief des Direktors Dr Sam Phiri</h4>
                        In einem Brief wendet sich der Direktor des Lighthouse an die Spender/innen der Freunde des Lighthouse
                        <h3 class="section-subheading text-muted">Dr. Sam Phiri beschreibt darin die Struktur des Lighthouse als ein unabhängiger „Trust“ und betont die Ziele des Lighthouse: <br><br>
-	Sicherstellung des Zugangs zu qualitativ guter Behandlung für möglichst viele Menschen mit HIV Infektion durch das Lighthouse <br>
-	In Anbetracht der hohen Zahl an Betroffenenen, die Entwicklung und Erprobung neuer Modelle der Versorgung durch das Lighthouse, die auf Malawi ausgedehnt werden können<br>
-	Stärkung der Kapazitäten bei den einheimischen Fachkräften für Behandlung, Versorgung und Unterstützung von Menschen mit HIV Infektion <br><br>
Dr Phiri bedankt sich im Namen des gesamten Team des Lighthouses für die Unterstützung durch die Lighthouse Freunde. <br>
Das Lighthouse ist immer wieder mit neuen Herausforderungen konfrontiert, aber 2014 war ein erfolgreiches Jahr.
Mit den Spenden von den Freunden des Lighthouse sollen neue Räume für Blutabnahmen und andere kleiner Laboruntersuchungen und Beratungsräume für Emfängnisverhütung ausgebaut werden. Die Spenden des Jahres 2014 werden dafür nicht ganz ausreichen und das Lighthouse versucht andere Quellen zur Finanzierung.

Von Seite des Vereins sehen wir diese Maßnahme als sehr sinnvoll an und freuen uns auf Ihren und unseren Beitrag dazu.
Lesen Sie hier den Brief: <br><br>

<embed src="/assets/letter_2014_SP.pdf" width="750" height="900"></embed>

</h3>



<h3 class="section-heading">Das Lighthouse stellt sich vor</h3> <br>
                    </div>
                  </div>
                <div class="row">

                  {% for post in site.pages %}
                    {% if post.type == include.type %}
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/lh-posts/{{ post.thumbnail }}" class="img-responsive" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>{{ post.title }}</h4>
                            <p class="text-muted">{{ post.subtitle }}</p>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </section>
